@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

* {
	box-sizing: border-box;
}
body {
	margin: 0 auto;
	max-width: 1000px;
	font-family: Space Mono;
	font-style: normal;
	color: #333;
}

.container {
	padding-top: 20px;
	padding-left: 30px;
	display: grid;
	height: 100vh;
	row-gap: 30px;
	grid-template-rows: auto auto 1fr auto;
	grid-template-areas:
		"header"
		"image"
		"content"
		"footer";
}

.header {
	grid-area: header;
	font-family: Inconsolata;
	font-size: 24px;
	font-weight: 700;
}

img {
	grid-area: image;
	width: 100%;
	max-width: 540px;
	height: auto;
}

.content {
	grid-area: content;
}
.content h1 {
	font-weight: 700;
	font-size: 48px;
}
.content p {
	font-size: 18px;
	font-weight: 400;
}
button {
	width: 216px;
	height: 68px;
	left: 24px;
	background: #333333;
	font-weight: bold;
	font-size: 14px;
	line-height: 21px;
	letter-spacing: -0.035em;
	color: #ffffff;
}

button:hover {
	color: #333333;
	background: #ffffff;
	cursor: pointer;
}

.footer {
	grid-area: footer;
	text-align: center;
	font-family: Montserrat;
	font-weight: 800;
	font-size: 14px;
	line-height: 17px;
	color: #6b6b6b;
	padding-top: 40px;
}

@media (min-width: 720px) {
	.container {
		padding-top: 100px;
		padding-left: 30px;
		padding-right: 30px;
		column-gap: 50px;
		grid-template-areas:
			"header header"
			"image content"
			"footer footer";
	}
	img {
		width: 500px;
	}
	.footer {
		padding-top: 100px;
	}
}

@media (min-width: 1020px) {
	.container {
		row-gap: 60px;
	}
	img {
		width: 600px;
		height: auto;
	}
	.footer {
		padding-top: 10px;
	}
}
